body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}
.viewport{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.frame{
    background: linear-gradient(69.9deg, rgb(76, 79, 106) 3.2%, rgb(118, 124, 163) 97.6%);
    margin: auto;
    border-radius: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px 50px 50px;
}
.button{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    margin: 20px;
    transition: ease 0.3s;
}
.button:hover{
    transform: scale(1.1);
    transition: ease 0.3s;
    cursor: pointer;
}
.tablet{
    padding: 20.5px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 984px;
    height: 738px;
    background-color: black;
    background-image: url(assets/background1.jpg);
    background-size: cover;
    border-radius: 45px;
}
#px{
    margin-left: -12px;
}
#widget{
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 20px;
}
#widget>i{
    font-size: 40px;
}
.widget{
    font-size: 175px;
    margin: 20.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 205px;
    height: 205px;
    background-color: cornflowerblue;
    border-radius: 20px;
    transition: ease 0.3s;
}
.widget:hover{
    transform: scale(1.1);
    transition: ease 0.3s;
}
.widget2{
    margin: 20.5px;
    width: 328px;
    height: 328px;
    background-color: cornflowerblue;
    border-radius: 20px;
    transition: ease 0.3s;
}
.widget2:hover{
    transform: scale(1.1);
    transition: ease 0.3s;
}
.s2{
    display: flex;
    flex-wrap: wrap;
    width: 246px;
    height: 246px;
}
.s3{
    display: flex;
    flex-wrap: wrap;
    width: 492px;
    height: 246px;
}
.s4{
    display: flex;
    flex-wrap: wrap;
    width: 492px;
    height: 492px;
}
.s4-1{
    display: flex;
    width: 492px;
    height: 123px;
}
.s4-2{
    display: flex;
    flex-wrap: wrap;
    width: 123px;
}
.s5{
    height: 492px;
    display: flex;
    flex-wrap: wrap;
    width: 123px;
}
.icons{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20.5px;
    width: 82px;
    height: 82px;
    background-color: cornflowerblue;
    transition: ease 0.3s;
}
.icons>i{
    font-size: 55px;
    color: white;
}
.icons:hover{
    transform: scale(1.1);
    transition: ease 0.3s;
    cursor: pointer;
}

